.card-body {
    font-family: 'Satisfy', cursive !important;
    font-size: 20px !important; 
}
  
.card {
    text-align: center;
    margin-top: 10px; 
}

.click {
    font-family: 'Sarabun', sans-serif !important;
    font-weight: 700;
    font-size: 18px;
    color: black;
}

.click:hover {
    color: #BCBCBC;
}

.border {
    color: #BCBCBC;
}